@font-face {
  font-family: 'Proxima Nova';
  src: url('/src/assets/fonts/ProximaNova-Regular.eot');
}

.client-card {
  display: flex;
  flex-direction: column;
  width: 293px;
  height: 193px;
  border-radius: 16px;
}

.card-finish {
  background: #E0EDFF;
  border: 1px solid #3F8CFF;
}

.card-process {
  background: #FFF0D4;
  border: 1px solid #F4B740;
}

.card-ready {
  background: #EBFFF7;
  border: 1px solid #6DDFAF;
}

.label-register {
  background: #EFF0F6;
  border: 1px solid #6E7191;
}

.client_header {
  display: flex;
}

.photo {
  width: 74px;
  height: 74px;
  margin: 1rem;
  border-radius: 16px;
}

.photo img {
  width: 74px;
  height: 74px;
}

.points, .ages
{
  font-family: Proxima Nova, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.5px;
  color: #4E4B66;
  margin:0 0.5rem 0 0.25rem;
}

.label {
  height: 2.5rem;
  border-radius: 8px;
  margin-left: 1rem;
  color: white;
  font-family: Proxima Nova, sans-serif;
  font-weight: normal;
}

.label-finish{
  background-color: #3F8CFF;
}

.label-process {
  background-color: #F4B740;
}

.label-ready{
  background-color: #359A70;
}

.label-register {
  background: #6E7191;
}

.name {
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 4.5rem;
  margin-top: 1rem;
  font-family: Proxima Nova, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #14142B;
}

.line {
  margin: auto;
  width: 249px;
  height: 1px;
  border: 1px dashed #D6D8E7;
  box-sizing: border-box;
}

.footer {
  margin-bottom: 1rem;
}

.footer button {
  margin-left: 1rem;
}


