<div class="cards"
     [class.card-complete]="client.children.status === STATUS.complete"
     [class.card-process]="client.children.status === STATUS.process"
     [class.card-ready]="client.children.status === STATUS.ready"
     [class.card-registry]="client.children.status === STATUS.registry"
     (click)="onClick(client.id)">
  <div class="client_header">
    <div class="photo">
      <img [src]="client.children.photoUrl">
    </div>
    <div class="name">
      <span class="first-name">{{client.children.firstName}}</span>
      <span class="last-name">{{client.children.lastName}}</span>
      <div class="state">
        <svg width="16"
             height="15"
             viewBox="0 0 16 15"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M8 0L10.5863 4.44033L15.6085 5.52786L12.1846 9.35967L12.7023 14.4721L8 12.4L3.29772 14.4721L3.81535 9.35967L0.391548 5.52786L5.41374 4.44033L8 0Z"
                fill="#F4B740"/>
        </svg>
        <span class="points">{{client.children.courses}}</span>
        <svg width="14"
             height="15"
             viewBox="0 0 14 15"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M1 14.3333V14.3333C1.20784 12.9972 2.0789 11.8447 3.38653 11.5006C4.38573 11.2377 5.65959 11 7 11C8.34041 11 9.61427 11.2377 10.6135 11.5006C11.9211 11.8447 12.7922 12.9972 13 14.3333V14.3333"
                stroke="#A0A3BD"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"/>
          <path d="M6.99996 8.00004C8.84091 8.00004 10.3333 6.50766 10.3333 4.66671C10.3333 2.82576 8.84091 1.33337 6.99996 1.33337C5.15901 1.33337 3.66663 2.82576 3.66663 4.66671C3.66663 6.50766 5.15901 8.00004 6.99996 8.00004Z"
                stroke="#A0A3BD"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"/>
        </svg>
        <span class="ages">{{utils.getDiffAgeNow(client.children.birthDay)}}</span>

      </div>
    </div>
  </div>

  <div class="line"></div>

  <div class="footer">
    <div class="d-flex flex-row bd-highlight mb-0 labels">

      <div *ngIf="client.children.status === STATUS.complete"
           class="p-2 bd-highlight label label-complete">
        {{'buttonLabels.complete' | translate}}
      </div>
      <div *ngIf="client.children.status === STATUS.process"
           class="p-2 bd-highlight label label-process">
        {{'buttonLabels.process' | translate}}
      </div>
      <div *ngIf="client.children.status === STATUS.ready"
           class="p-2 bd-highlight label label-ready">
        {{'buttonLabels.ready' | translate}}
      </div>
      <div *ngIf="client.children.status === STATUS.registry"
           class="p-2 bd-highlight label label-registry">
        {{'buttonLabels.registry' | translate}}
      </div>

      <div *ngIf="client.children.result === RESULT.normal"
           class="p-2 bd-highlight label label-normal">
        {{'buttonLabels.normal' | translate}}
      </div>
      <div *ngIf="client.children.result === RESULT.good"
           class="p-2 bd-highlight label label-good">
        {{'buttonLabels.good' | translate}}
      </div>
      <div *ngIf="client.children.result === RESULT.excellent"
           class="p-2 bd-highlight label label-excellent">
        {{'buttonLabels.excellent' | translate}}
      </div>
    </div>
  </div>

</div>




