.label-register {
  background: #EFF0F6;
  border: 1px solid #6E7191;
}

.client_header {
  display: flex;
}

.photo {
  width: 74px;
  height: 74px;
  margin: 1rem;
  border-radius: 16px;
  background-color: white;
}

.photo img {
  width: 74px;
  height: 74px;
  border-radius: 16px;
}

.points, .ages
{
  font-family: Proxima Nova, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.5px;
  color: #4E4B66;
  margin:0 0.5rem 0 0.25rem;
}

.labels {
  margin-left: 0.5rem;
}

.label {
  font-family: Proxima Nova, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #FCFCFC;
  margin-left: 0.5rem;
  letter-spacing: 0.75px;
  height: 2rem;
  border-radius: 8px;
  caret-color: transparent !important;
}

span {
  caret-color: transparent !important;
}

.name {
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 4.5rem;
  margin-top: 1rem;
  font-family: Proxima Nova, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #14142B;
}

.line {
  margin: auto;
  width: 249px;
  height: 1px;
  border: 1px dashed #D6D8E7;
  box-sizing: border-box;
}

.footer {
  margin-bottom: 1rem;
}

.footer button {
  margin-left: 1rem;
}


