.header {
  //max-width: auto;
  min-width: 295px;
  padding-bottom: 1rem;
  margin-right: 1rem;

  background: #F7F7FC;
  /* Grayscale / Line */
  border: 1px solid #D6D8E7;
  border-radius: 16px;
}
