<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="basicModal"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">УСЛОВИЯ ИСПОЛЬЗОВАНИЯ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="description">
          <p>Постоянный адрес: https: //app.flyser.io/terms</p>
          <p>Последнее обновление: 01 Марта 2021 года</p>
          <p>Благодарим Вас за интерес к нашим мобильным приложениям и веб-приложениям (которые мы будем называть
            "Приложениями" далее), предоставленными Вам компанией Flyser Labs, Inc. (далее - Компания)! Ниже приведены
            наши Условия использования для каждого приложения - не стесняйтесь обращаться к нам с любыми вопросами.</p>
          <p>Использование Вами Приложений также регулируется нашей Политикой Конфиденциальности, которая может время от
            времени меняться (политика объясняет, как Вы можете узнать об этих изменениях), а также Лицензионным
            соглашением с конечным пользователем, описанным ниже и включенным в настоящие Условия использования.</p>
          <p>Приложения доступны для скачивания и использования только на перечисленных далее территориях: Соединенные
            Штаты Америки, Россия, Украина, Беларусь, Казахстан.</p>
          <p>Пожалуйста, не используйте Приложения, если Вы не согласны и не принимаете данные Условия
            использования.</p>
          <p>Обратите внимание, что "Flyser", "Hoverbike", "Flyser App", являются торговыми марками или
            зарегистрированными торговыми марками, принадлежащими компании Flyser Labs., Inc.</p>
          <p><b>Какое оборудование необходимо для использования Приложений?</b></p>
          <p>Полноценное использование каждого приложения зависит от модели смартфона, планшета или другого
            вычислительного устройства с соответствующим программным обеспечением, места для хранения данных и доступа в
            Интернет. Обслуживание и безопасность вашего устройства и программного обеспечения могут влиять на работу
            Приложений, и вы несете ответственность за обеспечение надлежащей функциональности вашего оборудования и его
            совместимости с требованиями Приложений. Некоторые приложения могут быть совместимы только с определенными
            устройствами и операционными системами.</p>
          <p><b>Каковы приемлемые и запрещенные виды использования Приложений?</b></p>
          <p>Вы соглашаетесь использовать Приложений в соответствии с настоящими Условиями использования, а также в
            соответствии с Условиями предоставления медиа-услуг Apple и/или Условиями предоставления услуг Google Play,
            в той мере, в какой это применимо к вашему мобильному устройству и конкретному приложению.</p>
          <p>Вы несете ответственность за: (i) информацию и данные, которые Вы вводите во время регистрации и
            использования Приложений; (ii) любые запрошенные или незапрашиваемые отзывы, которые Вы предоставляете нам о
            Приложениях; (iii) и любую другую незапрашиваемую информацию, которую Вы предоставляете или предоставляете
            нам, независимо от того, используются ли Приложения (каждый из подпунктов (i), (ii) и (iii), вместе взятых,
            Ваш "Контент Пользователя").</p>
          <p>Вы также заявляете и гарантируете, что Контент Пользователя, а также ваше использование и предоставление
            Контента Пользователя не будет: (a) ущемлять, присваивать или нарушать права интеллектуальной собственности
            третьей стороны или права на гласность или неприкосновенность частной жизни; (b) нарушать или поощрять любое
            поведение, которое может нарушить любой применимый закон или нормативный акт или привести к гражданской
            ответственности; (c) быть обманчивым, ложным, вводящим в заблуждение или вводящим в заблуждение; (d) быть
            клеветническим, непристойные, порнографические, вульгарные или оскорбительные; e) поощряют дискриминацию,
            фанатизм, расизм, ненависть, преследование или вред в отношении любого лица или группы лиц; f) являются
            насильственными или угрожающими или способствуют насилию или действиям, угрожающим любому физическому или
            юридическому лицу; g) поощряют незаконную или вредную деятельность или вещества; или (h) размещать,
            рекламировать или продвигать продукты или услуги в коммерческих целях. Мы оставляем за собой право удалять
            Контент Пользователя, которое, как утверждается, является и/или нарушает любое из ваших заявлений и
            гарантий, изложенных здесь, без предварительного уведомления, по нашему собственному усмотрению, и без
            обязательств перед вами или ответственности от имени Компании.</p>
          <p>Вы соглашаетесь не пытаться получить несанкционированный доступ к любой части Приложений, или к любым
            другим системам или сетям, подключенным к Приложениям, путем взлома, "взлома" пароля, или любыми другими
            незаконными способами. Вы соглашаетесь не нарушать и не пытаться нарушить меры безопасности или
            аутентификации Приложений, или любых других систем или сетей, подключенных к Приложениям, или иным образом
            пытаться помешать нормальному функционированию Приложений.</p>
          <p>Вы признаете, что программный код Приложений, включая, но не ограничиваясь этим, исходный код и встроенные
            алгоритмы, является конфиденциальной информацией Компании и информацией, являющейся собственностью Компании,
            и представляет собой коммерческую тайну Компании в соответствии с Законом США "О защите коммерческой
            тайны".</p>
          <p>Вы также соглашаетесь не предоставлять заведомо ложную информацию и не выдавать себя за другое физическое
            или юридическое лицо при загрузке, регистрации или использовании Приложений.</p>
          <p><b>Каковы права Компании?</b></p>
          <p>Компания владеет, контролирует и/или лицензирует все тексты, графики, интерфейсы, фотографии, торговые
            марки, логотипы, музыку, звук, авторские работы любого вида, компьютерный код, и информацию или другие
            материалы, которые включены, размещены, сгенерированы, предоставлены или иным образом предоставлены Вам
            через приложения (вместе - "Контент Компании"), включая, но не ограничиваясь этим, дизайн, структуру, выбор,
            координацию, выражение и расположение Контента Компании.</p>
          <p>Контент Компании является защищённым товарным знаком, авторским правом, законами о товарных знаках, другими
            правами на интеллектуальную собственность, и другими законами США и зарубежных стран. Приложения и весь
            Контент Компании не может быть скопирован, воспроизведен, переиздан, загружен, размещен, передан, продан,
            лицензирован, адаптирован, изменен, публично показан или распространен без предварительного письменного
            согласия Компании. Лицензия(и), предоставляемая(ые) Вам, изложенная(ые) ниже в Лицензионном соглашении с
            конечным пользователем, обусловлена тем, что Вы не модифицируете содержимое Компании и принимаете любые
            условия, положения и уведомления, сопровождающие Контент Компании или иным образом, изложенные в
            приложениях. Несмотря на вышеизложенное, любые материалы, доступные для загрузки, доступа или иного
            использования через приложения, которые имеют свои собственные лицензионные положения, условия и
            уведомления, будут регулироваться такими положениями, условиями и уведомлениями.</p>
          <p>Приложения защищены различными патентными правами по всему миру, включая, но не ограничиваясь, любыми
            патентами, указанными на веб-сайте Компании.</p>
          <p>Компания оставляет за собой право определять время и содержание обновлений программного обеспечения для
            приложений, которые могут быть автоматически загружены и установлены без предварительного уведомления.</p>
          <p>Вы признаете, что Компания может устанавливать общие правила и ограничения в отношении использования
            приложений, в том числе, без ограничений, максимальный период времени, в течение которого данные или другое
            содержание будут храниться приложениями, максимальное время использования приложений, и максимальное
            пространство для хранения, которое будет выделено на серверах Компании от Вашего имени. Вы соглашаетесь, что
            Компания не несет никакой ответственности и обязательств за удаление или невозможность хранения любых данных
            или иного контента, которые поддерживаются или загружаются приложениями. Вы признаете, что Компания
            оставляет за собой право прекратить действие учетных записей, которые неактивны в течение длительного
            периода времени. Вы также признаете, что Компания оставляет за собой право изменять эти общие правила и
            ограничения в любое время, по своему усмотрению, с уведомлением или без него.</p>
          <p><b>Взимание платы за мобильные данные</b></p>
          <p>Вы уведомлены, что использование Приложений требует подключения к сети Интернет. Могут применяться
            стандартные скорости передачи данных от вашего оператора мобильной связи или стационарной связи. Оплата за
            трафик, возникающий в связи с передачей данных Приложениями осуществляется Вами самостоятельно.</p>
          <p><b>Лицензионное соглашение с конечным пользователем</b></p>
          <p>Каждое приложение лицензировано, а не продано вам. Ваша лицензия на каждое Приложение подлежит
            предварительному принятию вами настоящего Лицензионного Соглашения с Конечным Пользователем ("ЛСКП"). Ваша
            лицензия на каждое приложение по настоящему ЛСКП предоставляется Компанией, а не компаниями Apple или Google
            (в зависимости от того, что применимо к вашему мобильному устройству). Компания оставляет за собой все права
            в отношении "Приложений", не предоставленные вам в явном виде по настоящему ЛСКП.</p>
          <p>a. Объем лицензии: Компания предоставляет вам непередаваемую лицензию на использование каждого приложения
            на любых продуктах под маркой Apple или Android, которыми вы владеете или которые вы контролируете, и
            которые разрешены настоящими Условиями использования. Условия настоящего ЛСКП будут регулировать любое
            содержание, материалы или услуги, доступные или приобретенные в рамках каждого приложения, а также
            обновления, предоставляемые Компанией, которые заменяют или дополняют первоначальную версию каждого
            приложения, если только такие обновления не сопровождаются другим ЛСКП. За исключением случаев,
            предусмотренных настоящими Условиями использования, Вы не имеете права распространять или делать Приложения
            доступными по сети, чтобы они могли быть использованы несколькими устройствами одновременно. Вы не имеете
            права передавать, распространять или сублицензировать Приложения, и, если Вы продаете свое мобильное
            устройство третьему лицу, Вы должны удалить каждое Приложение с мобильного устройства, прежде чем делать
            это. Вы не имеете права копировать (за исключением случаев, разрешенных настоящими Условиями использования),
            осуществлять обратное проектирование, дизассемблировать, пытаться получить исходный код, изменять или
            создавать производные произведения каждого Приложения, любые обновления или любую его часть (за исключением
            случаев и только в той степени, в которой любое из вышеперечисленных ограничений запрещено применимым
            законодательством, или в той степени, в какой это может быть разрешено условиями лицензирования,
            регулирующими использование любых компонентов с открытым исходным кодом, включенных в состав
            Приложения).</p>
          <p>b. Согласие на использование данных: Вы соглашаетесь, что Компания может собирать и использовать
            технические данные и сопутствующую информацию, включая, но не ограничиваясь этим, техническую информацию о
            Вашем устройстве, системе, прикладном программном обеспечении и периферийных устройствах, которая
            периодически собирается для облегчения предоставления Вам обновлений программного обеспечения, поддержки
            продуктов и других услуг (если таковые предоставляются), связанных с Приложениями. Компания может
            использовать эту информацию, при условии, что она находится в форме, не позволяющей установить Вашу
            личность, для улучшения своих продуктов или для предоставления Вам услуг или технологий.</p>
          <p>c. Расторжение: Настоящее ЛСКП действует до момента его расторжения Вами или Компанией. Ваши права по
            настоящему ЛСКП прекращают свое действие автоматически в случае невыполнения вами любого из его условий.</p>
          <p>d. Внешние услуги: Каждое приложение может обеспечивать доступ к услугам и веб-сайтам Компании и/или
            третьих лиц (совместно и по отдельности - "Внешние услуги"). Вы соглашаетесь использовать Внешние услуги на
            свой собственный риск. Компания не несет ответственности за проверку или оценку содержания или точности
            любых Внешних Услуг третьих лиц, и не несет ответственности за любые такие Внешние Услуги третьих лиц.
            Данные, отображаемые каждым приложением или любой Внешней Услугой, включая, но не ограничиваясь, информацию
            финансового, медицинского характера и информацию о местоположении, предназначены только для общих
            информационных целей и не гарантируются Компанией или ее агентами. Вы не будете использовать Внешние Услуги
            каким-либо образом, который не соответствует условиям настоящего ЛСКП или который нарушает права
            интеллектуальной собственности Компании или любого третьего лица. Вы соглашаетесь не использовать внешние
            услуги для преследования, злоупотребления, угроз или опорочивания любого физического или юридического лица,
            и что Компания не несет ответственности за любое такое использование. Внешние услуги могут быть доступны не
            на всех языках или в вашей родной стране, и могут быть не подходящими или недоступными для использования в
            любом конкретном месте. В той степени, в которой Вы решили использовать такие Внешние Услуги, Вы несете
            единоличную ответственность за соблюдение любого применимого законодательства. Компания оставляет за собой
            право изменять, приостанавливать, удалять, отключать или налагать ограничения или лимиты на доступ к любой
            Внешней Услуге в любое время без уведомления или ответственности перед Вами.</p>
          <p>e. ОТСУТСТВИЕ ГАРАНТИЙ: ВЫ В ПРЯМОЙ ФОРМЕ ПРИЗНАЁТЕ И СОГЛАШАЕТЕСЬ, ЧТО ИСПОЛЬЗОВАНИЕ КАЖДОГО ПРИЛОЖЕНИЯ
            ПРОИСХОДИТ НА ВАШ СОБСТВЕННЫЙ РИСК. В МАКСИМАЛЬНОЙ СТЕПЕНИ, ДОПУСТИМОЙ ПРИМЕНИМЫМ ЗАКОНОДАТЕЛЬСТВОМ, КАЖДОЕ
            ПРИЛОЖЕНИЕ И ЛЮБЫЕ УСЛУГИ, ОСУЩЕСТВЛЯЕМЫЕ ИЛИ ПРЕДОСТАВЛЯЕМЫЕ КАЖДЫМ ПРИЛОЖЕНИЕМ, ПРЕДОСТАВЛЯЮТСЯ "КАК
            ЕСТЬ", СО ВСЕМИ НЕДОСТАТКАМИ И БЕЗ КАКИХ-ЛИБО ГАРАНТИЙ, И КОМПАНИЯ НАСТОЯЩИМ ОТКАЗЫВАЕТСЯ ОТ ВСЕХ ГАРАНТИЙ И
            УСЛОВИЙ В ОТНОШЕНИИ КАЖДОГО ПРИЛОЖЕНИЯ И ЛЮБЫХ УСЛУГ, ЯВНО ВЫРАЖЕННЫХ, ПОДРАЗУМЕВАЕМЫХ ИЛИ УСТАНОВЛЕННЫХ
            ЗАКОНОМ, ВКЛЮЧАЯ, НО НЕ ОГРАНИЧИВАЯСЬ, ПОДРАЗУМЕВАЕМЫЕ ГАРАНТИИ И/ИЛИ УСЛОВИЯ ТОВАРНОЙ ПРИГОДНОСТИ,
            УДОВЛЕТВОРИТЕЛЬНОГО КАЧЕСТВА, ПРИГОДНОСТИ ДЛЯ КОНКРЕТНОЙ ЦЕЛИ, ТОЧНОСТИ, СПОКОЙНОГО ПОЛЬЗОВАНИЯ, И
            НЕНАРУШЕНИЯ ПРАВ ТРЕТЬИХ ЛИЦ. НИКАКАЯ УСТНАЯ ИЛИ ПИСЬМЕННАЯ ИНФОРМАЦИЯ ИЛИ СОВЕТ, ПРЕДОСТАВЛЕННЫЕ КОМПАНИЕЙ
            ИЛИ ЕГО УПОЛНОМОЧЕННЫМ ПРЕДСТАВИТЕЛЕМ, НЕ СОЗДАЮТ ТАКИХ ГАРАНТИЙ. ЕСЛИ ПРИЛОЖЕНИЕ ИЛИ СВЯЗАННЫЕ С НИМ УСЛУГИ
            ОКАЖУТСЯ ДЕФЕКТНЫМИ, ВЫ БЕРЕТЕ НА СЕБЯ ВСЮ СТОИМОСТЬ ВСЕГО НЕОБХОДИМОГО ОБСЛУЖИВАНИЯ, РЕМОНТА ИЛИ
            ИСПРАВЛЕНИЯ. В НЕКОТОРЫХ ЮРИСДИКЦИЯХ НЕ ДОПУСКАЕТСЯ ИСКЛЮЧЕНИЕ ПОДРАЗУМЕВАЕМЫХ ГАРАНТИЙ ИЛИ ОГРАНИЧЕНИЕ
            ПРИМЕНИМЫХ ЗАКОННЫХ ПРАВ ПОТРЕБИТЕЛЯ, ПОЭТОМУ ВЫШЕУКАЗАННОЕ ИСКЛЮЧЕНИЕ И ОГРАНИЧЕНИЯ МОГУТ К ВАМ НЕ
            ОТНОСИТЬСЯ.</p>
          <p>f. ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ: В ТОЙ СТЕПЕНИ, В КОТОРОЙ ЭТО НЕ ЗАПРЕЩЕНО ЗАКОНОМ, НИ ПРИ КАКИХ
            ОБСТОЯТЕЛЬСТВАХ КОМПАНИЯ НЕ НЕСЕТ ОТВЕТСТВЕННОСТИ ЗА ЛИЧНЫЙ УЩЕРБ ИЛИ ЛЮБОЙ СЛУЧАЙНЫЙ, СПЕЦИАЛЬНЫЙ,
            КОСВЕННЫЙ ИЛИ ПОСЛЕДУЮЩИЙ УЩЕРБ, ВКЛЮЧАЯ, БЕЗ ОГРАНИЧЕНИЙ, УЩЕРБ В СВЯЗИ С ПОТЕРЕЙ ПРИБЫЛИ, ПОТЕРЕЙ ДАННЫХ,
            ПРЕРЫВАНИЕМ ДЕЯТЕЛЬНОСТИ, ИЛИ ЛЮБОЙ ДРУГОЙ КОММЕРЧЕСКИЙ УЩЕРБ ИЛИ УБЫТКИ, ВОЗНИКШИЕ В РЕЗУЛЬТАТЕ ИЛИ В СВЯЗИ
            С ИСПОЛЬЗОВАНИЕМ ИЛИ НЕВОЗМОЖНОСТЬЮ ИСПОЛЬЗОВАНИЯ ВАМИ ПРИЛОЖЕНИЯ, НЕЗАВИСИМО ОТ ТЕОРИИ ОТВЕТСТВЕННОСТИ
            (ДОГОВОР, ГРАЖДАНСКОЕ ПРАВОНАРУШЕНИЕ ИЛИ ИНОЕ), И ДАЖЕ ЕСЛИ КОМПАНИЯ БЫЛА ПРЕДУПРЕЖДЕНА О ВОЗМОЖНОСТИ ТАКОГО
            УЩЕРБА. НЕКОТОРЫЕ ЮРИСДИКЦИИ НЕ ДОПУСКАЮТ ОГРАНИЧЕНИЯ ОТВЕТСТВЕННОСТИ ЗА ТЕЛЕСНЫЕ ПОВРЕЖДЕНИЯ ИЛИ СЛУЧАЙНЫЕ
            ИЛИ КОСВЕННЫЕ УБЫТКИ, ПОЭТОМУ ЭТО ОГРАНИЧЕНИЕ МОЖЕТ НЕ РАСПРОСТРАНЯТЬСЯ НА ВАС. НИ ПРИ КАКИХ ОБСТОЯТЕЛЬСТВАХ
            ОБЩАЯ ОТВЕТСТВЕННОСТЬ КОМПАНИИ ЗА ВСЕ УБЫТКИ (КРОМЕ ТЕХ, КОТОРЫЕ МОГУТ ПОТРЕБОВАТЬСЯ В СООТВЕТСТВИИ С
            ПРИМЕНИМЫМ ЗАКОНОДАТЕЛЬСТВОМ В СЛУЧАЯХ, СВЯЗАННЫХ С ПРИЧИНЕНИЕМ ВРЕДА ЗДОРОВЬЮ) НЕ ДОЛЖНА ПРЕВЫШАТЬ
            ПЯТЬДЕСЯТ ДОЛЛАРОВ США ($50.00). ВЫШЕУКАЗАННЫЕ ОГРАНИЧЕНИЯ БУДУТ ПРИМЕНЯТЬСЯ, ДАЖЕ ЕСЛИ ВЫШЕУКАЗАННОЕ
            СРЕДСТВО ПРАВОВОЙ ЗАЩИТЫ НЕ ДОСТИГЛО СВОЕЙ ОСНОВНОЙ ЦЕЛИ.</p>
          <p>g. Вы не имеете права использовать или иным образом экспортировать или реэкспортировать Приложения, за
            исключением случаев, когда это разрешено законодательством юрисдикции, в которой было получено Приложение. В
            частности, но без ограничений, Приложение не может быть экспортировано или реэкспортировано (a) в любую
            страну с эмбарго США или (b) в любую страну, включённую в Список специально назначенных лиц Министерства
            финансов США или в Список запрещённых лиц или в Список организаций Министерства торговли США. Используя
            Приложение, Вы заявляете и гарантируете, что Вы не находитесь ни в одной из таких стран или в любом таком
            списке. Вы также соглашаетесь, что не будете использовать эти продукты в любых целях, запрещённых
            законодательством США, включая, без ограничений, разработку, проектирование, производство или производство
            ядерного, ракетного, химического или биологического оружия.</p>
          <p>h. Каждое приложение и связанная с ним документация являются "Коммерческими продуктами", как этот термин
            определен в §2.101 Свода федеральных законов 48 Свода федеральных законов, состоящего из "Коммерческого
            компьютерного программного обеспечения" и "Документации по коммерческому компьютерному программному
            обеспечению", как эти термины используются в §12.212 Свода федеральных законов 48 Свода федеральных законов
            или §227.7202 Свода федеральных законов 48 Свода федеральных законов, в зависимости от обстоятельств. В
            соответствии с §12.212 главы 48 Свода федеральных законов или §227.7202-1-227.7202-4 главы 48 Свода
            федеральных законов, в зависимости от обстоятельств, "Коммерческое компьютерное программное обеспечение" и
            "Документация по коммерческому компьютерному программному обеспечению" лицензируются для конечных
            пользователей Правительства США (a) только как "Коммерческие объекты" и (b) только с теми правами, которые
            предоставляются всем остальным конечным пользователям в соответствии с условиями настоящего документа.
            Неопубликованные права защищены законами об авторском праве США.</p>
          <p>i. За исключением случаев, прямо предусмотренных настоящим пунктом, настоящее ЛСКП и отношения между Вами и
            компанией iTunes (если Вы используете приложение на устройстве Apple) регулируются законодательством штата
            Калифорния, за исключением коллизионных норм. Вы и компания Apple (если Вы используете приложение на
            устройстве Apple) соглашаетесь подчиняться персональной и исключительной юрисдикции судов, расположенных на
            территории округа Санта-Клара, штат Калифорния, для разрешения любого спора или претензии, вытекающих из
            настоящего Соглашения и относящихся к этому приложению. Если: (a) Вы не являетесь гражданином США; (b) Вы не
            проживаете в США; (c) Вы не имеете доступа к приложению из США. (d) Вы являетесь гражданином одной из стран,
            указанных ниже, Вы настоящим соглашаетесь, что любой спор или претензия, вытекающая из настоящего Соглашения
            и относящаяся к данному Заявителю, регулируется применимым правом, изложенным ниже, безотносительно любых
            коллизионных норм права, и Вы настоящим безвозвратно подчиняетесь неисключительной юрисдикции судов,
            расположенных на территории штата, провинции или страны, указанной ниже, чье законодательство регулирует:
            если Вы являетесь гражданином любой страны Европейского Союза или Швейцарии, Норвегии или Исландии, то
            регулирующим правом и форумом являются законы и суды по Вашему обычному месту жительства.</p>
          <p>Особым исключением из применения к настоящим Условиям пользования является закон, известный как Конвенция
            ООН о международной купле-продаже товаров.</p>
          <p>За исключением случаев, прямо указанных в настоящих условиях использования, Компания не предоставляет вам
            никаких явных или подразумеваемых прав или лицензий на какие-либо патенты, товарные знаки, авторские права
            или другие права собственности или права интеллектуальной собственности.</p>
          <p><b>Прекращение использования приложений и нарушение настоящих Условий использования</b></p>
          <p>Компания имеет право расследовать нарушения настоящих Условий использования и любое поведение, которое
            влияет на Приложение. Вы соглашаетесь, что Компания может, по своему усмотрению и без предварительного
            уведомления, прекратить Ваш доступ к приложению и/или заблокировать Ваш будущий доступ к приложению по любой
            или любой причине по усмотрению Компании, в том числе, если Компания установит, что Вы нарушили настоящие
            Условия использования или другие соглашения или руководства, связанные с использованием Вами приложения или
            других продуктов или услуг Компании. Компания может консультироваться с правоохранительными органами и
            раскрывать незаконные действия, и, в соответствии с действующим судебным процессом, может сотрудничать с
            правоохранительными органами для преследования пользователей, которые нарушают закон. Вы также соглашаетесь,
            что любое нарушение Вами настоящих Условий использования будет представлять собой незаконную и нечестную
            деловую практику и причинит непоправимый ущерб Компании, для которого денежный ущерб будет недостаточным, и
            Вы соглашаетесь с тем, чтобы Компания получила любой судебный запрет или средство судебной защиты по праву
            справедливости, которое Компания сочтёт необходимым или целесообразным в таких обстоятельствах. Эти средства
            правовой защиты являются дополнением к любым другим средствам правовой защиты, которые Компания может иметь
            по закону или по справедливости.</p>
          <p>Непрекращение Компанией Вашего доступа к приложению в случае нарушения Вами настоящих Условий пользования
            не будет считаться отказом Компании от этого конкретного или любого другого права. Кроме того, Вы
            соглашаетесь, что Компания не будет нести ответственности перед Вами или любым третьим лицом за любое
            прекращение Вашего доступа к приложению.</p>
          <p>Если Вам заблокирован доступ к приложению со стороны Компании (в том числе путем блокировки Вашего
            IP-адреса), Вы соглашаетесь не предпринимать никаких мер для обхода такой блокировки (например, путем
            маскировки Вашего IP-адреса или использования IP-адреса прокси-сервера).</p>
          <p>Если Компания предпринимает какие-либо юридические действия против Вас в связи с нарушением Вами настоящих
            Условий пользования, Компания будет иметь право взыскать с Вас, и Вы соглашаетесь оплатить все разумные
            гонорары адвокатов и расходы, связанные с таким действием, в дополнение к любым другим средствам судебной
            защиты, предоставленным Компанией.</p>
          <p><b>Отказ от ответственности</b></p>
          <p>Ни одно из Приложений не предназначено для предоставления медицинских консультаций. Использование вами
            приложения не создает никаких отношений между вами и Компанией, и не должно рассматриваться как замена
            консультации с врачом или другим медицинским работником. В то время как Компания стремится предоставлять
            полезные продукты и услуги, Компания, тем не менее, не делает никаких одобрений, заявлений или гарантий в
            отношении любого приложения, или любого контента, информации, услуг или рекомендаций, предоставляемых
            посредством любого приложения.</p>
          <p>Несмотря на то, что Компания уделяет большое внимание безопасности и надлежащей функциональности своих
            продуктов и услуг, ни Компания, ни его поставщики или лицензиары, ни любая другая сторона, участвующая в
            создании, производстве или поставке каждого приложения, не обещает: что каждое приложение или любой контент,
            услуга или функция будут безошибочными, бесперебойными или безопасными; что любые дефекты будут исправлены;
            или что использование Вами каждого приложения будет давать конкретные результаты.</p>
          <p>Вся информация, предоставляемая через каждое Приложение, в том числе информация о ценах, функциях и
            доступности продуктов и услуг, может быть изменена без предварительного уведомления. Соответственно, Вы
            должны подтвердить точность и полноту всей размещённой информации, прежде чем принимать какое-либо решение,
            связанное с какими-либо услугами, продуктами или другими вопросами, описанными в каждом приложении или в
            других продуктах и материалах Компании.</p>
          <p>ВЫ ПРИНИМАЕТЕ НА СЕБЯ ПОЛНУЮ ОТВЕТСТВЕННОСТЬ ЗА ИСПОЛЬЗОВАНИЕ ВАМИ ПРИЛОЖЕНИЯ И ЛЮБЫХ СВЯЗАННЫХ С НИМ
            ПРОДУКТОВ ИЛИ УСЛУГ. ВАШИМ ЕДИНСТВЕННЫМ СРЕДСТВОМ ПРАВОВОЙ ЗАЩИТЫ ОТ НЕУДОВЛЕТВОРЁННОСТИ КОМПАНИЕЙ В СВЯЗИ С
            ПРИЛОЖЕНИЕМ ИЛИ ЛЮБЫМ СОДЕРЖАНИЕМ, ПРЕДОСТАВЛЯЕМЫМ ПОСРЕДСТВОМ ПРИЛОЖЕНИЯ, ЯВЛЯЕТСЯ ПРЕКРАЩЕНИЕ
            ИСПОЛЬЗОВАНИЯ ТАКОГО ПРИЛОЖЕНИЯ ИЛИ ЛЮБОГО ТАКОГО СОДЕРЖАНИЯ. ДАННОЕ ОГРАНИЧЕНИЕ СРЕДСТВ ПРАВОВОЙ ЗАЩИТЫ
            ЯВЛЯЕТСЯ ЧАСТЬЮ СДЕЛКИ МЕЖДУ ВАМИ И КОМПАНИЕЙ.</p>
          <p><b>Возмещение ущерба</b></p>
          <p>Вы соглашаетесь освободить и оградить Компанию, ее действующих и будущих должностных лиц, директоров,
            акционеров, предшественников, правопреемников, работников, агентов, дочерние и аффилированные компании от
            любых требований, убытков, ответственности, претензий или расходов (включая гонорары адвокатов), выдвинутых
            против Компании в связи с или вытекающих из или в связи с использованием Вами каждого приложения или
            Контента Пользователя, в зависимости от обстоятельств, или нарушения Вами любых гарантий, сделанных Вами по
            настоящему Соглашению, или нарушения Вами любого другого положения настоящих Условий Использования. Компания
            оставляет за собой право взять под свой контроль защиту любых претензий третьих лиц, которые подлежат
            возмещению Вами, и в этом случае Вы соглашаетесь разумно сотрудничать с Компанией в отстаивании любых
            имеющихся средств защиты.</p>
          <p><b>Разрешение споров между Вами и Компанией</b></p>
          <p>Вы соглашаетесь, что все вопросы между Вами и Компанией, касающиеся Вашего доступа к каждому Приложению или
            его использования, включая все споры, будут регулироваться законодательством Соединенных Штатов Америки,
            безотносительно положений о коллизионном праве. Вы соглашаетесь на персональную юрисдикцию и место
            рассмотрения споров в соответствующих судах штата и федеральных судах в Бостоне, штат Массачусетс, и
            отказываетесь от любых возражений против такой юрисдикции или места рассмотрения споров.</p>
          <p>Любая претензия в соответствии с данными Условиями использования должна быть подана в течение одного года
            после возникновения основания для иска, или Вы соглашаетесь с тем, что такая претензия или основание для
            иска запрещены. Сторона, выигравшая дело в любом споре в соответствии с настоящими Условиями использования,
            будет иметь право на оплату расходов и гонораров адвокатов.</p>
          <p><b>Международные вопросы</b></p>
          <p>Компания администрирует и управляет приложениями из своих офисов в Соединенных Штатах Америки. Информация,
            доступная через приложения, может содержать ссылки на продукты, программы и услуги Компании, которые
            недоступны в Вашей стране. Такая ссылка не означает, что Компания намеревается сделать такие продукты,
            программы или услуги доступными в Вашей стране. Любое предложение по каждому приложению для любой функции,
            продукта или услуги является недействительным в тех случаях, когда это запрещено. Если Вы решили получить
            доступ к Приложению из-за пределов США, Вы несете ответственность за соблюдение применимого местного
            законодательства. Определённый текст в каждом Приложении может быть доступен на языках, отличных от
            английского; любой такой перевод предоставляется для удобства, и Компания не делает никаких заявлений и не
            принимает на себя никаких обязательств в отношении точности или полноты любого такого перевода.</p>
          <p><b>Общие условия</b></p>
          <p>Если суд или другой суд компетентной юрисдикции признает какое-либо из положений настоящих Условий
            использования недействительным или не имеющим исковой силы, такие положения должны быть ограничены или
            устранены в минимально необходимой степени и заменены действительным положением, наилучшим образом
            воплощающим намерения настоящих Условий использования, с тем, чтобы настоящие Условия использования
            оставались в полной силе и действии.</p>
          <p>Настоящие Условия использования и наша политика конфиденциальности для приложений представляют собой полное
            соглашение между Вами и Компанией в отношении использования Вами каждого приложения, и все другие письменные
            или устные соглашения или договоренности, ранее существовавшие между Вами и Компанией в отношении такого
            использования, настоящим заменяются и аннулируются.</p>
          <p>Неспособность Компании настаивать или обеспечивать строгое выполнение настоящих Условий пользования не
            будет истолковываться как отказ Компании от любого положения или любого права, которое она имеет на
            обеспечение выполнения настоящих Условий пользования, а также любые действия между Компанией и Вами или
            любой другой стороной не будут считаться изменившими любое положение настоящих Условий пользования.
            Настоящие Условия использования не должны интерпретироваться или толковаться как предоставление каких-либо
            прав или средств правовой защиты каким-либо третьим лицам. Представители Компании по обслуживанию клиентов
            не уполномочены изменять любое положение настоящих условий, ни в устной, ни в письменной форме.</p>
          <p>Вы не имеете права переуступать или передавать настоящие Условия пользования, в силу закона или иным
            образом, без предварительного письменного согласия Компании. Любая попытка переуступить или передать
            настоящие Условия использования, без такого согласия, будет недействительной. Компания может свободно
            переуступать или передавать настоящие Условия использования без ограничений. В соответствии с
            вышеизложенным, настоящие Условия использования будут иметь обязательную силу и действие в пользу сторон, их
            преемников и их разрешенных правопреемников.</p>
          <p><b>Что делать, если Компания изменит настоящие Условия использования?</b></p>
          <p>Если мы существенно изменим настоящие Условия использования, мы уведомим вас об этом, разместив уведомление
            на нашем сайте или уведомив вас по указанному вами электронному адресу. Ваше дальнейшее использование
            Приложения после любого уведомления об изменении настоящих Условий использования будет означать, что вы
            принимаете и соглашаетесь с пересмотренными Условиями использования.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">{{'buttonLabels.close' | translate}}</button>
      </div>
    </div>
  </div>
</div>
