<div>
  <div>{{  'login.signIn' | translate }}</div>
  <form [formGroup]="formSignIn" (ngSubmit)="onSubmit()">
    <input type="email" placeholder="{{'login.login' | translate}}" required="" autofocus="" formControlName="login">
    <div class="validator"><small>
      {{'login.loginEmpty' | translate}}
    </small></div>
    <input type="password" placeholder="{{'login.password' | translate}}" required="" formControlName="password">
    <div class="validator"><small>
    </small></div>
    <h5 class="center">{{'login.passwordForget' | translate}}</h5>
    <button type="submit" [disabled]="formSignIn.invalid">{{'login.enter' | translate}}</button>
  </form>
  <h5>{{ 'login.doctor' | translate }}<a [routerLink]="['/register']">{{'login.createAccount' | translate}}</a></h5>
  <h6>{{'login.license' | translate }}<a> {{'login.termsOfUse' | translate}}</a> {{'shorts.and' | translate}}
    <a>{{'login.personalPolicy' | translate}}</a></h6>
</div>
