div.content {
  margin-left: 355px;
  height: 1000px;
  max-width: 927px;
  padding-top: 1rem;
}

/* Ellipse 1 */
.photo {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  background: #359A70;
  margin-left: 91px;
  margin-top: 91px;
  margin-bottom: 48px;
  filter: drop-shadow(0px 10px 30px rgba(100, 100, 100, 0.15));
}


