.wrapper {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  max-width: 980px;
}

.app_client {
  margin-right: 1rem;
  margin-top: 1rem;
}

.search-icon {
  height: 34px;
  width: 34px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  //background-color: #536bf6;
  font-size: 10px;
  bottom: 30px;
  position: relative;
  border-radius: 5px
}

.search-icon:hover {
  color: #fff !important
}

a:link {
  text-decoration: none
}

.search .search-input {
  padding: 0 10px;
  width: 100%;
  //caret-color: #536bf6;
  font-size: 19px;
  font-weight: 300;
  color: black;
  transition: width 0.4s linear
}

.search {
  //width: 50%;
  //margin-bottom: auto;
  //margin-right: 1rem;
  height: 50px;
  background-color: #fff;
  padding: 10px;
  border-radius: 16px
}

.filter {
  //width: 30%;
  //margin-left: 1rem;
}

.search-input {
  color: white;
  border: 0;
  outline: 0;
  /* background: none; */
  width: 0;
  /* margin-top: 5px; */
  /* caret-color: transparent; */
  line-height: 4px;
  transition: width 0.4s linear;
}


.btn-group {
  margin-left: 1rem;
}


.opt {
  font-size: 0.5rem !important;
  font-weight: bold !important;
  color: red;
}

.filter-button {
  margin-left: 1.5rem;
}
