<div class="modal fade" id="policyModal" tabindex="-1" role="dialog" aria-labelledby="basicModal"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="description"><p>Постоянный адрес: https: //app.flyser.io/privacy</p>
          <p>Последнее обновление: 01 Марта 2021 года</p>
          <p>Благодарим Вас за интерес к мобильным приложениям и веб-приложениям (которые мы будем называть
            'Приложениями' далее), которые предоставляет Вам компания Flyser Labs, Inc. (далее – Компания). Ниже
            приведена наша Политика Конфиденциальности для Приложений - не стесняйтесь обращаться к нам с любыми
            вопросами.</p>
          <p>Мы хотим, чтобы Вы были полностью осведомлены о том, какие данные мы собираем, для чего мы их используем,
            как мы их храним, и как Вы можете попросить нас просмотреть, изменить или удалить их – все это мы опишем
            ниже.</p>
          <p>Загружая или используя любое из наших Приложений, Вы разрешаете Компании обрабатывать собранные данные в
            соответствии с настоящей Политикой Конфиденциальности, которая применяется ко всем пользователям, включая
            врачей, другой медицинский персонал, ребенка, его представителей (родителей, опекунов и пр.) и третьих лиц
            (например, учителей), которым Вы, возможно, разрешили или пригласили воспользоваться Приложениями или
            связанными с ними услугами Компании. Пожалуйста, не используйте наши Приложения или связанные с ними услуги,
            если Вы не принимаете условия настоящей Политики конфиденциальности.</p>
          <p><b>Какие данные собираются с помощью Приложений Компании?</b></p>
          <p>Когда вы регистрируетесь и создаёте учётную запись в Приложениях Компании, загружаете или используете наши
            Приложения, или отправляете любые веб-формы, ответы на опросы или анкеты, или другую информацию Компании,
            относящуюся к нашим Приложениям, определённые данные могут быть собраны о Вас, о ребёнке или о другом лице,
            или применимы к вам, как описано ниже. Эти данные включают в себя предоставленные данные, а также данные,
            которые автоматически собираются нашими Приложениями:</p>
          <ul type="none">
            <li>- имя, фамилия, псевдоним или другой личный идентификатор или личная информация;</li>
            <li>- адрес электронной почты, физический адрес, почтовый индекс или другая контактная информация;</li>
            <li>- пароль;</li>
            <li>- возраст или дата рождения;</li>
            <li>- пол;</li>
            <li>- информация о предпочтениях, поведении или симптомах человека (включая ребенка);</li>
            <li>- ответы Ваши, ребенка или любого другого лица на связанные с Приложениями, оценки или анкеты,
              результаты тестов, например, МОХО, или другая когнитивная оценка;
            </li>
            <li>- любые загружаемые фотографии, скриншоты или другие изображения;</li>
            <li>- любая раскрытая медицинская информация или диагноз, включая информацию о ребенке;</li>
            <li>- любые собранные данные или измерения эффективности игры;</li>
            <li>- оценочные данные, которые составляются с использованием любых собранных данных или измерений о игровом
              процессе;
            </li>
            <li>- любой текст или другая информация, введенная в открытые текстовые поля или связанные с ними формы;
            </li>
            <li>- любая информация, которую вы, ребенок или любое другое лицо предоставили в ответ на любой посланный
              нами опрос;
            </li>
            <li>- любая предоставленная информация об оплате;</li>
            <li>- техническая информация, такая как IP-адрес, тип устройства, тип операционной системы устройства и
              пр.
            </li>
          </ul>
          <p><b>Как Компания использует и защищает Ваши данные?</b></p>
          <p>Компания обязуется соблюдать строгую конфиденциальность ваших личных данных, как описано ниже, передавать и
            хранить ваши данные в безопасном и зашифрованном виде.</p>
          <p>Ваши данные будут использоваться только в следующих целях:</p>
          <ul type="none">
            <li>- для предоставления Вам инструментов, информации и функциональности, предоставляемых через наши
              Приложения и связанные с ними услуги, включая, но не ограничиваясь, предоставление Вам собранной
              информации;
            </li>
            <li>- для связи с вами или обеспечения иным образом нашей поддержки в отношении использования вами наших
              Приложений;
            </li>
            <li>- для выполнения любых явных запросов или предоставления согласия на передачу любых данных другим лицам,
              таким как лица, осуществляющие уход, или врачи, конкретно указанные вами;
            </li>
            <li>- чтобы делиться с вами соответствующим контентом, относящимся к проблематике СДВГ у детей и сходными
              проблемами;
            </li>
            <li>- для запроса ваших отзывов о наших продуктах и услугах, чтобы помочь нам оценить, улучшить и устранить
              недостатки наших продуктов и услуг;
            </li>
            <li>- для мониторинга и анализа использования и тенденций, касающихся наших продуктов и услуг;</li>
            <li>- для обнаружения, защиты и устранения любых ошибок, мошенничества или незаконной деятельности, а также
              для обеспечения соблюдения наших Условий использования;
            </li>
            <li>- для подтверждения определенных данных и использования этих данных для научного анализа, исследований
              и/или улучшения наших продуктов и услуг;
            </li>
            <li>- для обработки платежей, если это применимо;</li>
            <li>- для любых других целей, которые сообщаются вам или другим лицам, когда мы собираем или обрабатываем
              любые данные или информацию.
            </li>
          </ul>
          <p>Только сотрудники Компании и наши партнеры, которым необходимо знать Ваши данные для целей, описанных выше,
            будут иметь доступ к Вашим личным данным, и Компания будет гарантировать, что все такие лица несут строгие
            обязательства по сохранению конфиденциальности Ваших данных и использованию их только для целей, описанных
            выше. В противном случае мы не будем делиться, и не будем разглашать любые Ваши персональные данные без
            Вашего письменного разрешения.</p>
          <p>Если Вы подтвердили возможность маркетинговых коммуникации от Компании или наших партнеров (например, во
            время регистрации или через наш веб-сайт), мы также можем использовать контактную, демографическую или
            другую регистрационную информацию, которую Вы предоставляете, чтобы связаться с Вами. Вы можете отказаться
            от любых таких сообщений в любое время, нажав на ссылку отказа от подписки в сообщении или связавшись с нами
            по адресу info@flyser.io</p>
          <p><b>Что делать, если вы хотите просмотреть, изменить или удалить свои данные?</b></p>
          <p>Если в любое время вы захотите просмотреть, удалить или изменить какие-либо из ваших данных, которые мы
            собрали, просто свяжитесь с нами по адресу info@flyser.io. Пожалуйста, обратите внимание, что Компания может
            сохранить некоторые из Ваших данных по действующим юридическим, нормативным или другим причинам, которые
            разрешены применимыми законами и правилами о конфиденциальности данных.</p>
          <p><b>Как Компания может использовать Ваш отзыв</b></p>
          <p>Любые затребованные или незатребованные отзывы, предложения или комментарии, которыми Вы делитесь с нами
            относительно продукции или услуг Компании, являются полностью добровольными и не должны рассматриваться как
            ваша конфиденциальная информация. Компания не будет нести никаких обязательств по включению любых ваших
            отзывов в продукцию или услуги Компания. Принимая настоящую политику конфиденциальности, Вы соглашаетесь и
            настоящим предоставляете Компании неисключительную, всемирную, безотзывную, бессрочную, безвозмездную,
            полностью оплаченную лицензию на такие отзывы (включая все права на интеллектуальную собственность,
            воплощенные в таких отзывах), и Вы соглашаетесь и признаете, что мы можем использовать такие отзывы в связи
            с нашими продуктами или предложениями услуг, без каких-либо обязательств со стороны Компании.</p>
          <p><b>Что делать, если мы изменим условия данной Политики конфиденциальности?</b></p>
          <p>Если мы существенно изменим настоящую Политику конфиденциальности, мы уведомим вас об этом, разместив
            уведомление на нашем сайте или уведомив вас по указанному вами электронному адресу. Ваше дальнейшее
            использование Приложений Компании или любого связанного с ними сервиса после любого такого уведомления об
            изменениях будет означать, что Вы признаете и соглашаетесь с пересмотренной политикой
            конфиденциальности.</p></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">{{'buttonLabels.close' | translate}}</button>
      </div>
    </div>
  </div>
</div>
